Checks: '-*,clang-analyzer-*,bugprone-*,performance-*,readability-*,modernize-*,-bugprone-invalid-enum-default-initialization'
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)(src|tests)/'
SystemHeaders: false
FormatStyle: file
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: 'true'
